{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Interest Form</div>
                <div class="card-body">
                    {% for product_item in product_items %}
                        {% if product_item.status != "pending" %}
                            <div class="card">
                                <div class="card-body">
                                    {{ product_item }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
