{% extends "base.html" %}

{% block title %}User Login{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Sales Management</h2>
    </div>
    <div class="card-body">
        <div class="company-card">
            {% if user.is_superuser %}
            {% for stat in statuses_all %}
            {% if stat.status == "pending" %}
            <ul>
                {% for company in page_obj %}
                {% if stat.company_id == company.id %}
                <li>
                    <p>{{ company }}</p>
                    {% for user_obj in users %}
                    {% if company.user_id == user_obj.id %}
                    <p>Added by: {{ user_obj.username }}</p>
                    {% endif %}
                    {% endfor %}
                    <ul>
                        {% for interest in interesting_all %}
                        {% if interest.company_id == company.id %}
                        <li>
                            <p>Interest Rate: {{ interest }}</p>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li>
                            <p>Status: {{ stat.status }}</p>
                            {% for status_id in status_ids %}
                            {% if stat.id == status_id %}
                            <a href="{% url 'sales_status_update' status_id=status_id %}">Update Status</a>
                            {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            {% else %}
            <ul>
                {% for stat in statuses %}
                {% if stat.status == "pending" %}
                {% for company in page_obj %}
                {% if stat.company_id == company.id %}
                <li>
                    <p>{{ company }}</p>
                    <ul>
                        {% for interest in interests %}
                        {% if interest.company_id == company.id %}
                        <li>
                            <p>Interest Rate: {{ interest }}</p>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li>
                            <p>Status: {{ stat.status }}</p>
                            {% for status_id in status_ids %}
                            {% if stat.id == status_id %}
                            <a href="{% url 'sales_status_update' status_id=status_id %}">Update Status</a>
                            {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <a href="/sales_add">Add a Company</a>
        {% if user.is_superuser %}
        <button>Status</button>
        {% endif %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="pagination-link">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="pagination-link">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-link">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
